.joke-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.control {
  margin: 0.7rem 0;
}



.control input
 {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.3rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin: 10px auto;
}

.control input:focus {
  outline: none;
  border-color: #720f04;
}
  
